<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Contactos</title>
        <script type="text/javascript" src="../static/js/get_all.js"></script>
        <link rel="stylesheet" href="../static/css/global.css">
    </head>

    <body>
        <a href="buscar.html">Buscar</a>
        <a href="insertar.html">Insertar</a>
        <table border="1" id="table_contactos">
            <thead id="thead_contactos">
                <th><h5>Email</h5></th>
                <th><h5>Nombre</h5></th>
                <th><h5>Telefono</h5></th>
                <th colspan="3">Opciones</th>
            </thead>
            <tbody id="tbody_contactos">
            </tbody>
        </table>
        <script>
            document.body.onload = getAll();
        </script>
    </body>
</html>
