<!DOCTYPE html>
<head>
    <title>Contactos</title>
</head>
<body>
    <script type="text/javascript" src="../static/js/insert.js"></script>
        <label for="email">Email</label> <input type="email" id="email"><br><br>
        <label for="nombre">Nombre</label> <input type="text" id="nombre"><br><br>
        <label for="telefono">Telefono</label> <input type="number" id="telefono"><br><br>
        <button onclick="insert(document.getElementById('email').value, document.getElementById('nombre').value,
        document.getElementById('telefono').value)">Enviar</button>
</body>
</html>