<!DOCTYPE html>
<head>
    <title>Contactos</title>
</head>
<body>
    <script type="text/javascript" src="../static/js/insert.js"></script>
    <script type="text/javascript" src="../static/js/primary.js"></script>
    <link rel="stylesheet" href="../static/css/global.css">
        <label for="email">Email</label> <input type="email" id="email"><br><br>
        <label for="nombre">Nombre</label> <input type="text" id="nombre"><br><br>
        <label for="telefono">Telefono</label> <input type="number" id="telefono"><br><br>
        <button onclick="primary(document.getElementById('email').value, document.getElementById('nombre').value,
        document.getElementById('telefono').value)">Enviar</button>
        <center><a href="index.html">Regresar</a></center>
</body>
</html>